.category {
    margin: 10px;
    padding: 10px 15px 15px 15px;
    max-width: 500px;
    border: #445574 2px solid;
    border-radius: 5px;
    background: #3B4963;
}

.category .header {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: #6279A5 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category .header img {
    width: 48px;
}

.category .content {
    font-size: 0.8rem;
}

.category .content p {
    margin-bottom: 5px;
}

.category .content img {
    object-fit:contain;
}

.category .content ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.buttonImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 45px !important;
    width: min-content !important;
}

.category .content a.buttonStyle:not(.buttonImg) {
    display: flex;
    padding: 11px 5px;
    justify-content: center;
    min-width: 48px;
    width: min-content;
}


.buttonImg span {
    padding-right: 10px;
    padding-left: 10px;
}

@media screen and (max-width: 575px) {
    .category .content ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 430px) {
    .category .content ul {
        grid-template-columns: 1fr;
    }
}