@import url('./animations.css');
@import url('./dropdown.css');
@import url('./category.css');
@import url('./msgbox.css');

@font-face {
    font-family: 'NotoSans';
    src: url(../fonts/NotoSans.otf);
}

:root {
    --header: #0F152F;
    --backgroud: #282E48;
    --footer: #0F152F;
    --footer-content-copyright: #ececec;
    --category-background: #3B4963;
    --category-border: #445574;
    --category-separator: #6279A5;
    --category-text-content: #ECECEC;
    --category-button-ability: #141414;
    --msgbox-background: #3A4B6C;
    --msgbox-border: #445574;
    --msgbox-header-background: #303F5B;
    --msgbox-header-border: #4F5E79;
    --msgbox-header-text: #ECECEC;
    --msgbox-separator: #6279A5;
    --msgbox-content-background: #2B3851;
    --msgbox-content-border: #435370;
    --msgbox-content-text: #FAFAFA;
    --dropdown-background: #4A5790;
    --dropdown-content-background: #5A68A0;
    --dropdown-content-button-link: #415196;
    --button-link: #ACACAC;
    --text-normal: #FFF;
    --text-warning: #FCAF58;
    --text-danger: #E73838;
    --rarity-magic: #D3D3D3;
    --rarity-rare: #75FF2B;
    --rarity-epic: #4FDFF1;
    --rarity-legendary: #DA62C8;
    --rarity-mythical: #FBff1D;
    --rarity-god: #D31B1B;
    --text-alpha: #FFB44E;
}

.rarityMagic { color: var(--rarity-magic) }
.rarityRare { color: var(--rarity-rare) }
.rarityEpic { color: var(--rarity-epic) }
.rarityLegendary { color: var(--rarity-legendary) }
.rarityMythical { color: var(--rarity-mythical) }
.rarityGod { color: var(--rarity-god) }
.rarityRainbow { animation: rarityRainbow 2.5s infinite; }

.sizeHeader { font-size: 2rem; }
.sizeVeryBig { font-size: 1.5rem; }
.sizeBig { font-size: 1.17rem; }
.sizeNormal { font-size: 1rem; }
.sizeSmall { font-size: 0.83rem; }
.sizeVerySmall { font-size: 0.67rem; }
.titleAlpha { color: var(--text-alpha); user-select: none; }

* { margin: 0; padding: 0; font-family: 'NotoSans'; color: whitesmoke; }

img { pointer-events: none; user-select: none; }

body { min-height: 100vh; display: flex; flex-direction: column; background: var(--backgroud); }

body::-webkit-scrollbar { display: none; }

header {
    display: flex;
    position: sticky;
    top: 0;
    width: auto;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    margin-bottom: 10px;
    background: var(--header);
}

main { flex-grow: 1; margin: auto; width: 90% }

footer {
    background-color: var(--footer);
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

footer .copyright { color: var(--footer-content-copyright); }

section.categories { display: grid; justify-items: center; }

@media screen and (max-width: 320px) { .category ul { display: block; } }

/* 
@media screen and (max-width: 425px) { section.categories { grid-template-columns: 1fr; } }

@media screen and (min-width: 768px) { section.categories { grid-template-columns: 1fr 1fr; justify-items: center; } }
*/

@media screen and (min-width: 1024px) { .category ul { grid-template-columns: 1fr 1fr 1fr; } }

/*
@media screen and (min-width: 1440px) { section.categories { grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (min-width: 2560px) { section.categories { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; } }
*/


.warningbox {
    background-color: #686039;
    border-left: 5px #e7c000 solid;
    padding: 10px;
    border-radius: 0 5px 5px 0;
}

.warningbox .headerContent { display: flex; align-items: center; justify-content: flex-start; text-transform: uppercase; }

.warningbox .content { font-size: 0.83rem; margin-top: 5px; }

.warningbox .date { font-size: 0.67rem; color: #e4e4e4 }